@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

body {
    max-width: 1150px;
    margin: auto;
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1em 5em 4em;
}

header,
footer {
    background-color: #1F2937;
}

header p,
header a,
footer p {
    font-size: 18px;
    color: #E5E7EB;
}

nav {
    display: flex;
    justify-content: space-between;
}

.nav_heading {
    display: flex;
    justify-content: space-between;
    max-height: 60%;
}

.nav_heading+div {
    width: 50%;
}

.nav_heading img {
    width: 50%;

}




main {
    display: flex;
    flex-direction: column;
    flex: 1;
}

main>* {
    flex: 1;
}

footer {
    text-align: center;
    padding: 25px 0;
}







h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

h2 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    text-align: center;
    margin: 42px 0;
}

ul {
    list-style-type: none;
}

li {
    display: inline;
    padding: 15px 0;
}

a {
    text-decoration: none;
}

button,
.thecall {
    background-color: #3882F6;
}

.quote {
    background-color: #E5E7EB;
}

.thecall {
    display: flex;
    color: white;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2em;
}

.gallery img {
    width: 250px;
    height: 200px;
    object-fit: cover;

}