@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    max-height: 100vh;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1em 5em 4em;
}

header,
footer {
    background-color: #1F2937;
}

header p,
header a,
footer p {
    font-size: 18px;
    color: #E5E7EB;
}

/* ------------------Navbar------------------- */
nav {
    display: flex;
    justify-content: space-between;
}

/* Navbar header */
.nav_heading {
    display: flex;
    justify-content: space-between;
    max-height: 60%;
}

.nav_heading+div {
    width: 50%;
}

.nav_heading img {
    width: 50%;

}

/*  Navbar right-side links */
nav ul {
    list-style-type: none;
}

nav li {
    display: inline;
    padding: 0 15px;
}

nav li:last-of-type {
    padding-right: 0;
}


/* ------------------Main------------------- */

main {
    display: flex;
    flex-direction: column;
    flex: 1;
}

main>* {
    flex: 1;
}

footer {
    text-align: center;
    padding: 25px 0;
}




/* ------------------Elements------------------- */


h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

h2 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    text-align: center;
    margin: 42px 0;
}

a {
    text-decoration: none;
}


blockquote {
    font-style: italic;
    text-align: justify;
    font-size: 1.4em;
    padding: 15px 0;
}

blockquote+p {
    font-weight: 900;
    font-size: 1.2em;
    text-align: end;
}

.quote {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 0;
}

.quote div {
    max-width: 60%;
}

.quote {
    background-color: #E5E7EB;
}

button,
.thecall {
    background-color: #3882F6;
}

button {
    padding: 5px 25px;
    color: white;
}

.thecall {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    border-radius: 0.5em;
    padding: 2% 8%;
    margin: 5% 15%;
}

.thecall div {
    max-width: 70%;
    margin-right: 15%;
}

.thecall button {
    border: 1px solid white;
    border-radius: 0.5em;
    padding: 10px 45px;
    white-space: nowrap;
}


.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2em;
}

.gallery img {
    width: 250px;
    height: 200px;
    object-fit: cover;

}

section:has(.gallery) {
    margin-bottom: 80px;
}