@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
}



header,
footer {
    background-color: #1F2937;
}

main {
    display: flex;
    flex-direction: column;
    flex: 1;
}

main>* {
    flex: 1;
}

footer {
    text-align: center;
    padding: 25px 0;
}

header p,
header a,
footer p {
    font-size: 18px;
    color: #E5E7EB;
}



h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

h2 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    text-align: center;
    margin: 42px 0;
}

button,
.thecall {
    background-color: #3882F6;
}

.quote {
    background-color: #E5E7EB;
}

.thecall {
    display: flex;
    color: white;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2em;
}

.gallery img {
    width: 250px;
    height: 200px;
    object-fit: cover;

}